@font-face {
    font-family: 'Azuro';
    src: url('https://jonkeane.com/css/type/azuro-regular.eot');
    src: url('https://jonkeane.com/css/type/azuro-regular.eot?iefix') format('eot'),
         url('https://jonkeane.com/css/type/azuro-regular.woff') format('woff'),
         url('https://jonkeane.com/css/type/azuro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'Azuro';
    src: url('https://jonkeane.com/css/type/azuro-italic.eot');
    src: url('https://jonkeane.com/css/type/azuro-italic.eot?iefix') format('eot'),
         url('https://jonkeane.com/css/type/azuro-italic.woff') format('woff'),
         url('https://jonkeane.com/css/type/azuro-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic; }

@font-face {
    font-family: 'Azuro';
    src: url('https://jonkeane.com/css/type/azuro-bold.eot');
    src: url('https://jonkeane.com/css/type/azuro-bold.eot?iefix') format('eot'),
         url('https://jonkeane.com/css/type/azuro-bold.woff') format('woff'),
         url('https://jonkeane.com/css/type/azuro-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal; }

@font-face {
    font-family: 'Azuro';
    src: url('https://jonkeane.com/css/type/azuro-bolditalic.eot');
    src: url('https://jonkeane.com/css/type/azuro-bolditalic.eot?iefix') format('eot'),
         url('https://jonkeane.com/css/type/azuro-bolditalic.woff') format('woff'),
         url('https://jonkeane.com/css/type/azuro-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic; }
